
#bgColor2 {
    background-color: #56AC6B;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    position: absolute;

}

#center{
    padding-top: 2%;
}

#white{
    color:white;
}

#image{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    height: 40%;
}

#top{
    margin-top: 0;
    top: 0;
}

#left{
    float: left;
}

#right {
    float: right;
}