
#bgColor {
    background-color: #1A773B;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}


#form {
    background-color: white;
    text-align: center;
    width: 50%;
    height: 40%;
}


#form2 {
    background-color: white;
    text-align: center;
    width: 50%;
    height: 50%;
}

#margin {
    margin: auto;
}
