#loginFormBox {
    background-color: white;
    text-align: center;
    width: 40%;
}


#centering {
    text-align: center;
    margin: auto;
}

#button-color {
    background-color: black;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}



#bottomButtonRight {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}