
#bgColor {
    background-color: #1A773B;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#bgImage {
    width: 60%;
    height: 80%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  
}

#centering {
    text-align: center;
    padding-left: 35%;
    margin-top: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    flex-direction: column;
    width: 30%; /* Full width (cover the whole page) */
    height: 20%; /* Full height (cover the whole page) */
    text-align: center;
    padding-top: 10px;
    top: 60%;
    left: 35%;
    justify-content: center;
    background-color: rgb(255, 255, 255); 
    cursor: pointer; /* Add a pointer on hover */
    z-index: 2;
  }

  #overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    flex-direction: column;
    width: 50%; /* Full width (cover the whole page) */
    height: 50%; /* Full height (cover the whole page) */
    text-align: center;
    padding-top: 10px;
    top: 25%;
    left: 25%;
    justify-content: center;
    background-color: rgb(255, 255, 255); 
    z-index: 2;
  }

  #overlay3 {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    flex-direction: column;
    width: fit-content; /* Full width (cover the whole page) */
    height: fit-content; /* Full height (cover the whole page) */
    text-align: center;
    padding-top: 10px;
    top: 25%;
    left: 40%;
    justify-content: center;
    background-color: rgb(255, 255, 255); 
    z-index: 2;
  }


  #halfMargin{
      width: 50%;
      margin-left: 25%;
  }


  