#locationBG{
    background-color: #56AC6B;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
}

#margin-profile{
    margin-top: 20px;
    margin-bottom: 20px;
}

#littleMoreRight{
    margin-left: 20px;
}

#profileBG{
    background-color: #56AC6B;
    height: 100%;
    width: 100%;
    display: block;
    overflow-y: scroll;
    position: absolute;
}

#whiteFont{
    color: white;
}
#quarter{
    width: 25%;
}

#lenght{
    width: 80%;
}

#right {
    margin-left: auto;
    width: fit-content;
}

#bottom {
    margin-right: auto;
    margin-top: auto;
}

#half {
    width: 50%;
}




#locations-list{
    height: 220px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#width{
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

#iWantThisCentered{
    margin-left: 34%;
}

#matches-list{
    height: 220px;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}
#marginCenter{
    margin-left: 34%;
    margin-bottom: 10px;
}
#fit{
    width: 400px;
}
#messages-list{
    height: 280px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#message-list{
    height: 220px;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#marginTop{
    margin-top: 5%;
}

#maginInbox{
    margin-top: 5%;
    margin-left: 34%;

}
#thign{
    margin-left: 10%;
}

#team-list{
    height: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

