#introBox {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    width: 500px;
    height: 300px;
}


#title {
    margin-top: 15%;
}

#button {
    margin-top: 15%;
}