#backgroundPage{
    background-color: #56AC6B;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    position: absolute;
}

#addCard{
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 85%;
    overflow: auto;
}

#updateCard{
    margin-top: 5%;
    margin-left: 20%;
    height: 85%;
    width: 60%;
    overflow: auto;
}

#flex{
    display: flex;
    flex-direction:column;
}

#buttonRight{
    float: right;
    margin-top:auto;
    display: block;
}